.header {
  border-bottom: 1px solid rgb(160, 200, 255);
    padding: 20px;
    text-align: center;
  }
  
  .header ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
  }

  .header ul li .link{
    text-decoration: none;
    color: black;
  }
  .header ul li .link:hover{
    color: #3a80e2;
  }